node_modules/
sesion/
*.log

contactos.json
estado.json
seguimientos.json

estadisticas/datos.json
estadisticas/hoy.json

sara/saraestado.jsonventas/gastos.csv 
ventas/gastos.csv
ventas/domicilios.csv
